employees {
  display: block;
  background-color: #61a5e0;
  
  padding: 30px;
}

employee {
  display: block;
  margin: 10px;
  padding: 10px;
  border: 2px solid rgb(73, 73, 73);
  background-color: #ffffff;
}

id, name, department, designation, email, salary {
    font-family: Franklin Gothic Medium;
  display: block;
  margin: 5px 0;
  font-size:large;
}

name {
    font-family: Franklin Gothic Medium;
    font-size:larger;
  font-weight: bolder;
  color: darkblue;
}

salary {
  color: rgba(0, 146, 0, 1);
  font-size: larger;
  font-style: italic;
}
